body {
    background-color: #423f3e;
    overflow: hidden;
}

.outline {
    background-color: white;
    width: 15.31vw;
    height: 47.5vh;
    border-radius: 3%;
    position: relative;
    margin: 25vh auto;
    padding: 3px;
    animation: arc 12s infinite;
}

.card {
    background-color: red;
    width: 15vw;
    height: 47vh;
    border-radius: 3%;
    position: absolute;
    margin: 2px;
}

.up-icon {
    position: absolute;
    margin-top: -4px;
    margin-left: 2px;
}

.bottom-icon {
    position: absolute;
    transform: rotate(180deg);
    margin-left: 166px;
    margin-top: 290px;
}


.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left: 47%;
    top: 48.5%;
}

@keyframes arc {
    50% {transform: rotate(1260deg);}
}
